/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    --hue-color: 230;

    --introduction-preinfo: hsl(var(--hue-color), 5%, 64%);
    --introduction-description: hsl(var(--hue-color), 9%, 40%);
    --green-border: hsl(130, 59%, 72%);

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --body-color: hsl(var(--hue-color), 59%, 98%);
    --body-color-alt: hsl(var(--hue-color), 40%, 91%);
    --body-color-alt-second: hsl(250, 26%, 94%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-bar-thumb: hsl(var(--hue-color), 12%, 75%);
    --button: hsl(var(--hue-color), 46%, 47%);
    --navbar-color: hsl(var(--hue-color), 54%, 97%);
    --container-color: #fff;
  
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /*========== Margenes ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /*========== z index ==========*/
  
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img{
    max-width: 100%;
    height: auto;
}

/*========== Blog Essentials ==========*/



/*========== Reusable Css Classes ==========*/

.container {
    max-width: 968px;

    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}
  
.grid {
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 7rem 0 2.5rem;
}

.section__title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-bold);

    margin: 0;
    text-align: center;    
}

.section__subtitle{
    color: var(--text-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);

    margin-bottom: var(--mb-2);
    text-align: center;
}


/*========== Variables Dark theme ==========*/
body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 54%, 12%);
    --title-color: hsl(var(--hue-color), 24%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 29%, 12%);
    --introduction-description: hsl(var(--hue-color), 11%, 67%);
    --body-color-alt: hsl(var(--hue-color), 33%, 8%);
    --body-color-alt-second: hsl(var(--hue-color), 19%, 26%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --navbar-color: hsl(var(--hue-color), 29%, 11%);
}

body.dark-theme .nav__logo{
    filter: invert(1);
}

body.dark-theme .home__img .dark{
    display: block;
}

body.dark-theme .home__img .light{
    display: none;
}

body.dark-theme .topWave path,
body.dark-theme .bottomWave path{
    fill: var(--body-color-alt);
}

body.dark-theme .blog__intro{
    background: url('../../blog/img/background-dark.svg') center bottom no-repeat;

}


/*========== Button Dark/Light ==========*/
.nav__dark {
    display: flex;
    align-items: center;
    position: absolute;

    column-gap: 2rem;
    left: 3rem;
    bottom: 4rem;
}

.change-theme,
.change-theme-name {
    color: var(--text-color);
}

.change-theme {
    cursor: pointer;
    font-size: 1rem;
}

.change-theme-name {
    font-size: var(--small-font-size);
}

/*========== HEADER ==========*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);

    background-color: var(--body-color);

    transition: .3s;
}

/*========== NAV ==========*/
.nav {
    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__header {
    display: flex;
    align-items: center;
    position: relative;
}

.nav__logo-image {
    border-radius: 100px;
}



.nav__logo,
.nav__toggle {
    color: var(--title-color);
}

.nav__logo {
    font-weight: var(--font-semi-bold);
    margin-inline-start: 16px;
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__menu {
    position: relative;
}

.nav__image {
    display: flex;
    justify-content: center;
    overflow: hidden;

    padding-top: .25rem;
    margin-bottom: .8rem;
    border-radius: 50%;
}

.nav__image img {
    width: 36px;
    height: 36px;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;

        box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);

        padding: 3rem;
        background-color: var(--body-color);
        transition: .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;

    row-gap: 2.5rem;
}

.nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-medium);

    transition: .2s;
}

.nav__link:hover {
    color: var(--text-color);
}

.nav__close {
    position: absolute;
    top: .75rem;
    right: 1rem;

    font-size: 1.5rem;
    color: var(--title-color);

    cursor: pointer;
}

/* Show the menu */
.show-menu {
    right: 0;
}

/* Change background header */
.scroll-header {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.14);
}



/* Active link */
.active-link {
    position: relative;

    color: var(--text-color);
    font-weight: var(--font-bold);
}

.active-link::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: -.75rem;
    left: 0;
    
    background-color: var(--title-color);
}

/* Pulse Effect */
.pulse {
    animation: pulse-animation 5s infinite;
}    

/*=============== BLOG ===============*/
.blog__intro{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../../blog/img/background.svg') center bottom no-repeat;
    background-size: cover;

    min-height: 60vh;
}

.blog__container {
    row-gap: .5rem;
}

.blog__introduction-preinfo{
    color: var(--introduction-preinfo);
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
}

.blog__introduction-title{
    font-weight: var(--font-bold);
    color: var(--title-color);
    font-size: var(--biggest-font-size);
    margin-bottom: var(--mb-1);
}

.blog__description{
    color: var(--introduction-description);
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
    max-width: 100%;
    margin-bottom: var(--mb-1-25);
    line-height: 1.5;
}

.author{
    display: flex;
    justify-self: center;
}

.author__avatar{
    width: 40px;
    height: 40px;

    margin-right: var(--mb-1);
    border: 3px solid var(--green-border); 
    border-radius: 50%; 
}

.author__avatar img{
    border-radius: 50%;  
    border: 2px solid var(--body-color-alt-second);  
}

.author__data{
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.author__description{
    color: var(--text-color-light);
}

.author__description .author__name{
    font-weight: var(--font-medium);
}

.author__link{
    color: var(--text-color);
}

/* Header */

.blog__post-title.margin{
    margin-top: 5rem;
}

.blog__header .blog__title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    color: var(--title-color);

    margin-bottom: 5px  ;
}

.blog__header .blog__description{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    max-width: 70%;
}

.bullet__list{
    margin-left: 15px;
    max-width: 65%;
}

.bullet__list .bullet__item{
    list-style-type: disc;
    margin-bottom: var(--mb-1);
}

.list__description{
    font-weight: var(--font-medium);
    font-weight: var(--normal-font-size);
    color: var(--text-color)
}

.list__bold{
    font-weight: bold;
    color: var(--text-color);
}


.sidebar{
    float: left;
}

.widget{
    margin-bottom: 50px;
    width: 100%;
    float: left;    
}

.widget__title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.widget__tabs{
    float: left;
    overflow: hidden;
}

.widget__nav{
    width: 100%;
    display: inline-block;
    float: left;
    border-bottom: solid 2px #e6e6e6;
    margin-bottom: 30px;
    position: relative;    
}

.widget__nav a{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px 20px;
    color: #999999;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
}

.widget__nav a.current{
    color: var(--title-color);
}

.bottom-line{
    height: 2px;
    background-color: #7beec7;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all .2s ease-in-out;
}

.tab_single.shown {
    display: block;
}

.widget__post {
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.widget__post img{
    width: 100%;
    border-radius: .3rem;
}

.widget__image{
    max-height: 60px;
    max-width: 60px;
    display: inline-block;
    margin-right: 15px;
    float: left;  
    border-radius: .5rem;
    transition: .3s;
}

.widget__image:hover{
    opacity: 0.5;
}

.widget__title {
    font-size: 14px;
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}

.widget__date {
    font-size: 12px;
    color: var(--text-color-light);
}

.blog__media{
    margin-bottom: var(--mb-1-25);
}

.blog__media img{
    border-radius: .30rem;
    max-height: 350px;
    filter: drop-shadow(0px 7px 10px rgba(0, 0, 0, 0.2));
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .65rem;
    background-color: var(--scroll-bar-color);
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}

/*========== MEDIA QUERIES ==========*/

@media screen and (min-width: 1200px){
    .container{
        max-width: 1124px;
    }
}

@media screen and (max-width: 991px){
    .sidebar {
        margin-top: 100px;
    }
}   

@media screen and (min-width: 1024px){
    .container{
        margin-right: auto;
        margin-left: auto;
    }
}


@media screen and (max-width: 1024px){
    .blog__description, 
    .blog__header .blog__description,
    .bullet__list{
        max-width: 100%;
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__link{
        color: var(--text-color-light);
    }
    .nav__dark{
        position: initial;
    }
    .nav__menu{
        display: flex;
        column-gap: 1rem;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
    }
    .nav__toggle,
    .nav__close,
    .change-theme-name{
        display: none;
    }
    .change-theme{
        color: var(--text-color);
    }
    .active-link{
        color: var(--text-color);
    }
    .active-link::before{
        background-color: var(--text-color);
    }
    .blog__container,
    .blog__header-container{
        padding: 7rem 2rem 5rem;
    }
}

@media screen and (max-width: 576px){
    .blog__data{
        text-align: initial;
    }
}

@media screen and (min-width: 576px){
    .blog__container{
        grid-template-columns: repeat(1,2fr);
        align-items: center;
    }
}

@media screen and (min-width: 968px){
    .blog__container{
        column-gap: 5rem;
    }
}

@media screen and (min-width: 992px){
    .blog__header-container{
        max-width: 1124px;
        display: flex;
    }
    .blog__data{
        width: 75%;
        float: left;
    }
    .blog__posts{
        width: 25%;
        float: left;
    }
}